<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

    <div id="editContent" class="col-lg-9 bearbeiten">
        <div class="editÜberschriftenZeile">
            <h3 class="editÜberschrift">Bonübersicht
                <span class="badge badge-success" th:text="${bons.size()}" />
            </h3>
        </div>
        <table class="table table-stripped">
            <tbody>
                <tr th:each="bon:${bons}">

                    <th scope="row" th:attr="id=${bon.getId()}">

                    </th>
                    <script th:inline="javascript">

                        var idprefix = '#';
                        var id = /*[[${bon.getId().toString()}]]*/;
                        var monat = /*[[${bon.getMonat()}]]*/;
                        var result = getMonat(monat);
                        $(idprefix + id).text(result);
                    </script>
                    <td th:replace="fragments/editBon::#tankItem"></td>
                </tr>
            </tbody>
        </table>
        <div class="btnFooter">
            <button type="button" id="btnEdit" class="btn btn-success " disabled="true">Bearbeiten</button>
            <button type="button" class="btn btn-danger " disabled="true" onclick="deleteById()">Löschen</button>
        </div>
    </div>

    <td id="tankItem">
        <a class="tankItem" data-toggle="collapse" aria-expanded="false" th:attr="href='#collapsedContent' + ${bon.getId()}" >
            <div class="ersterTeil ausrichtung">
                <img class="img-fluid" th:src="${'/imgs/' + bon.tankstellenName + '.png'}" />
            </div>
            <div class="zweiterTeil ausrichtung">
                <h5 th:text="${bon.datum}" />
            </div>
            <div class="dritterTeil ausrichtung">
                <h5 th:text="${bon.endPreis} + ' €'" />
            </div>
        </a>
        <div th:attr="id='collapsedContent' + ${bon.getId()}"  class="meinCollapsedContent collapse">
            <span style="font-weight:bold;" >Benzinpreis:</span>
            <span style="font-weight:bold;"  th:text="${bon.benzinPreis} + ' €'" class="float-right"></span>
            <br/>
            <span style="font-weight:bold;" >Tankvolumen:</span>
            <span style="font-weight:bold;" th:text="${bon.tankVolumen} + ' l'" class="float-right"></span>
        </div>
    </td>

    <script>
        var monate = [];
        function getMonat(month) {
            if (monate.indexOf(month) == -1) {
                monate.push(month);
                return month;
            } else {
                return "|"
            }
        };
    </script>
</body>

</html>