<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Title</title>
</head>
<body>

<a id="tankItem" class="tankItem" href="#">
    <div class="ersterTeil ausrichtung">
        <img class="img-fluid" th:src="${'/imgs/' + bon.tankstellenName + '.png'}"/>
    </div>
    <div class="zweiterTeil ausrichtung">
        <h5 th:text="${bon.datum}"/>
    </div>
    <div class="dritterTeil ausrichtung">
        <h5 th:text="${bon.endPreis}"/>
    </div>
</a>

</body>
</html>