
.mycontainer {
  background-color: #062456;
  border: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.main-content {
  background-color: pink;
  border: 2px;
}

.container {
  height: 100%;
  margin: 0;
}
.zweite {
  min-height: 90%;
}

.brand {
  background-color: #03193f;
  padding-top: 0.7rem;
}

#search {
  margin-left: 0.5rem;
}

.leiste {
  padding: 0.7rem;
}
.bild2 {
  height: 0.8rem;
  width: 1rem;
}
.bonFrame {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: white;
  border: solid 1px #000;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
.headline {
  font-size: 5rem;
  align-items: center;
}
.hintergrund {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.erfolg {
  position: fixed;
  bottom: 640px;
  right: 400px;
  height: 40px;
  width: 40px;
  color: forestgreen;
}

.meinChart {
  width: 700px;
  height: 300px;
}

.bearbeiten {
    background: linear-gradient(to bottom, #023689, #095ee8);
}

.tankItem {
    color: black;
    display: flex;
    background: linear-gradient(to bottom, #8b8e91, #696b6d);
    margin: 15px;
    border-radius: 4px;
    height: 3rem;
}
#tankItem:hover {
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
#tankItem:focus {
    border: 5px solid pink;
}
.ersterTeil {
    width: 50px;
}
.zweiterTeil {
    flex-basis: 70%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.dritterTeil {
    flex-basis: 20%;
}
.ausrichtung {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnFooter {
    margin-left: 3rem;
    position: fixed;
    bottom: 5%;
}
.editÜberschrift {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 3rem;
    margin-right: 15px;
}
.editÜberschriftenZeile {
    border-bottom: 2px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

