<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Title</title>
</head>

<body>

    <form id="meinFormular" class="col-lg-9 form-horizontal" th:action="@{/bonis}" method="post" th:object="${bon}">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="tankstellen-name" th:field="${bon.tankstellenName}" placeholder="Tankstellenname..."
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Datum</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" id="datum" th:field="${bon.datum}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Benzinpreis</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="Preis" placeholder="€/Liter..." th:field="${bon.benzinPreis}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Tankvolumen</label>
            <div class="form-row col-md-12">
                <div class="col col-md-8">
                    <input class="form-control" type="range" min="0" step="0.1" max="58" id="tankslider" onchange="updateWert()" th:field="${bon.tankVolumen}"
                    />
                </div>
                <div class="col col-md-2">
                    <label id="volumenanzeige" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Endpreis</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="endpreis" placeholder="Endpreis..." th:field="${bon.endPreis}" readonly="true"
                />
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Daten abgeben</button>
        </div>
    </form>


    <div id="bon" class="bonFrame">
        <img class="success erfolg" src="glyphicons/png/glyphicons-199-ok-circle.png" />
        <div class="headline" th:text="${createdBon.tankstellenName}">
        </div>
        <h3 th:text="${createdBon.datum}"></h3>
        <h3 th:text="${createdBon.benzinPreis}"></h3>
        <h3 th:text="${createdBon.tankVolumen}"></h3>
        <h3 th:text="${createdBon.endPreis}"></h3>
    </div>


    <div id="editBons" class="col-lg-9 bearbeiten" >
        <div th:each="bon:${bons}">
            <div th:replace="fragments/TankItem::#tankItem" ></div>
        </div>
        <div class="btnFooter">
            <button type="button" class="btn btn-success">Bearbeiten</button>
            <button type="button" class="btn btn-danger">Löschen</button>
        </div>
    </div>
</body>

</html>