<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/jquery.js" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        var monate = [];
        function getMonat(month) {
            if (monate.indexOf(month) == -1) {
                monate.push(month);
                return month;
            } else {
                return "|"
            }
        };
        var targetId = '';
        $('*').on('shown.bs.collapse', function (event) {
            console.log('data: ' + $(this).next().toString());
            this.targetId = event.target.id;
            $('#' + event.target.id).addClass('deleteSelected');
            console.log("TargetId: " + this.targetId);
            $('.btn').prop('disabled', false);
        });
        $('*').on('hidden.bs.collapse', function (event) {
            $('.btn').prop('disabled', true);
            this.targetId = '';
            console.log("targetId: " + this.targetId);
            $('.deleteSelected').removeClass('deleteSelected');
        });
        function deleteById() {
            var id = $('.deleteSelected').prop('id').toString().slice('collapsedContent'.length);
            console.log('id: ' + id);
            $('.deleteSelected').parent().parent().remove();
            $('.btn').prop('disabled', true);
            var anzahlBons = $('.badge-success').text();
            $('.badge-success').text(anzahlBons - 1);
        }
    </script>
</head>

<body>

    <div class="container">
        <div th:replace="header::#meinHeader" />
        <div id="zweite" class="row zweite">
            <div th:replace="sidebar::#zweite" />
            <div th:replace="fragments/editBon::#editContent"></div>
        </div>
    </div>


    <script src="js/bootstrap.js" />
    <script>

    </script>
</body>

</html>