<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }

    </style>
</head>
<body>

<div class="container">
    <div th:replace="header::#meinHeader"/>
    <div id="zweite" class="row zweite">
        <div th:replace="sidebar::#zweite"/>
        <div th:replace="fragments/editBon::#editContent" ></div>
    </div>
</div>


<script src="js/jquery.js"/>
<script src="js/bootstrap.js"/>
</body>
</html>