<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <meta charset="UTF-8" />
    <title>Graphics</title>
    <style type="text/css">
        html,
        body {
            height: 100%;
            width: 100%;
        }

        ,

        #mychart {
            width: 400px;
            height: 200px;
            border: 1px solid #000;
            padding: 20px;
            margin: 10px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div th:replace="vertical::#meinHeader" />
        <div id="zweite" class="row zweite">
            <div th:replace="vertical::#zweite" />
            <div class="col-lg-9" id="mychart"></div>
        </div>
    </div>

    <script src="js/jquery.js" />
    <script src="js/bootstrap.js" />
    <script src="js/highcharts.js" />
    <script type="text/javascript">
        $(document).ready(function () {

            $.getJSON({
                url: "/allBons",
                success: auswertung
            });

            var preise = [];
            function auswertung(response) {
                $.each(response, function (i, field) {

                    console.log(Object.getOwnPropertyNames(field) + " " + i);
                    console.log(field['endPreis']);
                    preise.push(field['endPreis']);
                })

                var options = {
                    chart: {
                        type: 'column',
                        renderTo: 'mychart'
                    },
                    title: {
                        text: 'mein zweites chart'
                    },
                    xAxis: {
                        id: [
                            1, 2, 3, 4, 5, 6, 7, 8, 9, 10
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Benzinkosten'
                        }
                    },
                    series: [{
                        name: 'Benzinkosten Endpreis',
                        data: preise
                        //[29.99, 54.80, 66.70, 43.50, 55.99, 49.99, 42.32, 58.45, 53.33, 24.99]
                    }]
                };
                var meinChart = new Highcharts.Chart(options);
            }
        })
    </script>
</body>

</html>